/* Reset default styles for HTML markups */

a,
a:hover,
a:active,
a:visited,
a:focus {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

*:active,
*:visited,
*:focus {
  text-emphasis: none;
  outline: 0;
}
