/* #region Components */
$header-height: 70px;
$main-padding: 10px;
$footer-horizontal-padding: 30px;
$footer-vertical-padding: 10px;
$progress-bar-height: 6px;
/* #endregion Components */


/* #region Material */
$divider-thickness: 2px;
/* #endregion Material */


/* #region Typography */
$font-size-small: 12px;
$font-size-large: 20px;
/* #endregion Typography */
