/* #region Components */
$header-height: 70px;
$main-padding: 10px;
$footer-height: 100px;
$footer-padding: 10px; 
$progress-bar-height: 6px;
/* #endregion Components */


/* #region Material */
$divider-thickness: 2px;
/* #endregion Material */
