<gridster
  class="grid"
  [options]="gridsterOptions"
>
  <gridster-item
    *ngFor="let item of dashboard"
    class="grid-item"
    [item]="item"
  >
    <ng-container [ngSwitch]="item.id">
      <mat-card *ngSwitchCase="dashboards.ALL_TASKS">
        <mat-card-content class="card-content">
          <app-table
            [columnDefs]="allTasksTable.columnDefs"
            [rowData]="allTasksTable.rowData"
            (rowClicked)="onTaskSelect($event)"
          >
          </app-table>
        </mat-card-content>
      </mat-card>
      <mat-card *ngSwitchCase="dashboards.TASK_DETAILS">
        <mat-card-content
          *ngIf="selectedTask"
          class="card-content"
        >
          <h2>{{ selectedTask.name }}</h2>
          <p>{{ selectedTask.description }}</p>
          <app-button
            color="accent"
            [text]="'reserve' | capitalize"
            [disabled]="selectedTask.isTaken"
          >
          </app-button>
        </mat-card-content>
      </mat-card>
      <mat-card *ngSwitchCase="dashboards.MY_TASKS">
        <mat-card-actions>
          <app-button
            color="accent"
            [text]="'add' | capitalize"
          >
          </app-button>
          <app-button
            color="warn"
            [text]="'delete' | capitalize"
            [disabled]="!selectedTask"
            (click)="deleteTask(selectedTask)"
          >
          </app-button>
        </mat-card-actions>
        <mat-card-content class="card-content">
          <app-table
            [columnDefs]="myTasksTable.columnDefs"
            [rowData]="myTasksTable.rowData"
          >
          </app-table>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </gridster-item>
</gridster>
