<!-- <div class="tasks-container">
  <app-button
    [type]="'stroked'"
    [text]="'add task' | capitalize"
  >
  </app-button>
</div> -->
<gridster
  class="grid"
  [options]="gridsterOptions"
>
  <gridster-item
    *ngFor="let item of dashboard"
    class="grid-item"
    [item]="item"
  >
    <mat-card>
      <mat-card-header>
        {{ item.id }}
      </mat-card-header>
      <mat-card-content
        [ngSwitch]="item.id"
        class="card-content"
      >
        <app-table
          *ngSwitchCase="dashboards.TASKS_TABLE"
          [columnDefs]="columnDefs"
          [rowData]="rowData"
          (rowClicked)="onTaskSelect($event)"
        >
        </app-table>
        <div *ngSwitchCase="dashboards.TASK_DETAILS">
          Details here
        </div>
      </mat-card-content>
    </mat-card>
  </gridster-item>
</gridster>
