@import "../../../styles/colors";
@import "../../../styles/mixins";

.grid {
  background-color: $gray900;
}

.grid-item {
  padding: 5px;
  cursor: grab;
}

mat-card,
mat-card-content {
  height: 100%;
}

mat-card-actions {
  @include content-center(flex-start);
}
