@import "../../../styles/mixins";
@import "../../../styles/colors";

$link-blue: #2196F3; // TODO: move to themes

.toolbar-spacer {
  flex: 1 1 auto;
}

nav {
  @include content-center($gap: 16px);
}

a {
  position: relative;
  color: $white;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 2rem;
  transition: 0.2s;
}

a:hover {
  background: $link-blue;
  color: $link-blue;
}

a::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: $gray900;
}

a span {
  position: relative;
  z-index: 1;
}

a i {
  position: absolute;
  display: block;
  inset: 0;
}

a i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid $link-blue;
  background: $gray900;
  transition: 0.2s;
}

a:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

a i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid $link-blue;
  background: $gray900;
  transition: 0.2s;
}

a:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
