@use 'sass:map';
@use '@angular/material' as mat;

@mixin color($theme) {
  $color-config: mat.get-color-config($theme);
  $primary-palette: map.get($color-config, 'primary');

  .theme-light footer {
    background-color: mat.get-color-from-palette($primary-palette, 100);
  }

  .theme-light mat-divider {
    border-color: mat.get-color-from-palette($primary-palette, 900);
  }

  .theme-dark footer {
    color: mat.get-color-from-palette($primary-palette, 50);
    background-color: mat.get-color-from-palette($primary-palette, 900);
  }

  .theme-dark .mat-toolbar a {
    color: mat.get-color-from-palette($primary-palette, 50);
  }

  .theme-dark mat-divider {
    border-top-color: mat.get-color-from-palette($primary-palette, 100) !important;
  }
}

@mixin theme($theme) {
  $color-config: mat.get-color-config($theme);

  @if $color-config != null {
    @include color($theme);
  }
}
