@use '@angular/material' as mat;
@use 'custom' as custom;

@include mat.core();

$light-primary: mat.define-palette(mat.$blue-gray-palette);
$light-accent: mat.define-palette(mat.$blue-palette);
$light-warn: mat.define-palette(mat.$red-palette);

$dark-primary: mat.define-palette(mat.$blue-gray-palette, 600);
$dark-accent: mat.define-palette(mat.$blue-palette, 700);
$dark-warn: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme((
  color: (
    primary: $light-primary,
    accent: $light-accent,
    warn: $light-warn
  )
));

$dark-theme: mat.define-light-theme((
  color: (
    primary: $dark-primary,
    accent: $dark-accent,
    warn: $dark-warn
  )
));

@include mat.all-component-themes($light-theme);
@include custom.theme($light-theme);

.theme-dark {
  @include mat.all-component-colors($dark-theme);
  @include custom.theme($dark-theme);
}
