<h2>{{ form.title }}</h2>
<form [formGroup]="formGroup">
  <mat-form-field
    *ngFor="let input of form.inputs"
    appearance="outline"
  >
    <mat-label>{{ input.label }}</mat-label>
    <input
      matInput
      [formControlName]="input.name"
      [required]="input.required"
    />
    <mat-icon
      *ngIf="input.icon"
      matSuffix
    >
      {{ input.icon }}
    </mat-icon>
    <mat-error>{{ getError(input.name) }}</mat-error>
  </mat-form-field>
  <div class="form-actions">
    <app-button
      matType="stroked"
      type="reset"
      text="Reset"
      (click)="onReset()"
    >
    </app-button>
    <app-button
      color="accent"
      [text]="form.submitText"
      [disabled]="!formGroup.valid"
      (click)="onSubmit()"
    >
    </app-button>
  </div>
</form>
